.registraion-page {



  header {
    padding-top: 50px;
    min-height: 500px;
    background-color: rgb(228, 219, 237);

    background-image: url('/img/rainbow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  section {
    min-height: 300px;
    padding: 20px 5%;
  }

  section:nth-of-type(2) {
    background-color: #cccccc;
  }
}
