.header {
  display: flex;
  justify-content: space-between;

  background-color: #24d07a;
  min-height: 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);

  .logo {
    height: 100%;

    img {
      padding: 0;
      margin-top: 5px;
      height: 40px;
      width: auto;
    }
  }

  > div {
    span {
      color: rgb(151, 82, 189);
      font-weight: bold;
      margin-right: 10px;

    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      height: 100%;
      display: inline-block;
      margin: 0 10px;
      margin-right: 30px;
      padding: 15px 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .active-link {
      color: yellow;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
