.footer {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // right: 0;
  min-height: 80px;
  text-align: center;
  background-color: #27272e;
  color: #fff;

  padding: 20px 70px;
  padding-bottom: 10px;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    ul:last-of-type {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        text-align: left;
        margin: 5px 0;
      }
    }
  }

  > p span {
    color: #ff084a;
    cursor: pointer;

    &:hover {
      color: #ffa228;
    }
  }
}
