.chat {

  // width: 100%;

  div {
    background-image: url('/img/chat2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
  }

  h3 {
    margin-bottom: 0px;
  }
}
