.chat {
  background-image: url('/img/chat.png');
  background-size: 100% 800px;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;

  h3 {
    position: absolute !important;
    top: 15px;
    left: 0;
    right: 0;
  }
}
