.mentor-card-item {
  display: block;
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 3px 5px gray;
  padding: 20px 30px;

  .col-md-5 {
    text-align: center;

    p {
      margin-top: 15px;
    }
  }

  img {
    height: 130px;
    width: 130px;
  }

  a {
    margin-left: auto;
    display: block;
    margin-top: 10px;
    max-width: 100px;
  }
}
