.mentor-info {
  margin-bottom: 40px;

  .col-md-5 {
    text-align: center;

    p {
      margin-top: 15px;
    }
  }

  .col-md-7 {
    > div {
      margin: 20px 0;
    }
  }

  img {
    width: 200px;
    height: 200px;
  }

  .buttons {
    text-align: center;
  }

  a {
    background-color: #299fd1 !important;
    display: inline-block;
    margin: 10px;
  }

  button {
    background-color: rgb(245, 48, 125);
    display: inline-block;
    margin: 10px;

  }
}
